<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @notebook.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @notebook.user %>
</p>

<%= link_to 'Edit', edit_notebook_path(@notebook) %> |
<%= link_to 'Back', notebooks_path %>
