<!DOCTYPE html>
<html>
<head>
  <title>CsoundNotebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
  <%= stylesheet_link_tag    "notebook", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "ui-bootstrap-tpls-0.10.0.min", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "Blob", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "FileSaver", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "notebook", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "notebook/controllers", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "ace/ace", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "ui-ace", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "keypress", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "notebook/app", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "jquery-textrange", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "/csound", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="notebookApp" role="document">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">Csound Notebook</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "About", :about %></li>
        <li><%= link_to "My Notebook (PNaCl)", :controller => :pages, action: :notebook %></li>
        <li><%= link_to "My Notebook (Emscripten)", :controller => :pages, action: :notebookjs %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
    <% if current_user %>
      <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
      <li><%= link_to "Logout", :logout, method: :post %></li>
  <% else %>
    <li><%= link_to "Register", new_user_path %></li>
    <li><%= link_to "Login", :login %></li>
  <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<%= yield %>

</body>
</html>
